.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-side_menu {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #607D8B;
  color: #CFD8DC;
  height: 44px;
  margin: 0;
  padding: 0;
}

.App-side_menu > li {
  list-style: none;
}

.App-video {
  flex: 1;
  background-color: black;
}

.App-feedbackMessage {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
